{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
  {% embed '@alira/navbar/navbar.twig' with {
    placement: 'sticky-top',
    container: 'fixed',
    color: 'dark',
    utility_classes: ['bg-blue'],
  } %}

    {% block branding %}
      {% if page.navbar_branding %}
        {{ page.navbar_branding }}
      {% endif %}
    {% endblock %}

    {% block left %}
      {% if page.navbar_left %}
        <div class="mr-auto">
          {{ page.navbar_left }}
        </div>
      {% endif %}
    {% endblock %}

    {% block right %}
      {% if page.navbar_right %}
        {{ page.navbar_right }}
      {% endif %}
    {% endblock %}
    
  {% endembed %}

  <main class="pt-5">
    {% if page.header %}
      <header class="page__header mb-3">
        <div class="container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}
    {% if page.content %}
      <div class="page__content container pb-5">   
          {{ page.content }}   
      </div>
    {% endif %}
    {% if page.content_bottom %}
      <div class="content_bottom">      
          {{ page.content_bottom }}       
      </div>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer class="page__footer">
      <div class="container">
        <div class="d-flex justify-content-md-between align-items-md-center">
          {{ page.footer }}
        </div>
      </div>
    </footer>
  {% endif %}
</div>
