{#
/**
 * @file
 * Template for a Node.
 */
#}
{#
/**
 * @file
 * Template for a Node component.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {{ content.field_image }}

{#{kint(content.field_file)}#}
    
    <div class="body-slide position-absolute">
        {% if content.body %}
            {{ content.body }}
        {% endif %}
        {% if content.field_file %}
            {% set cat_url = file_url(content.field_file[0]['#file'].uri.value) %}

            {% if content.field_class_button %}
              {% set btn_class = content.field_class_button[0] %}
            {% else %}
              {% set btn_class = 'btn-primary' %}
            {% endif %}

            <a href="{{cat_url}}" target="_blank" class="btn {{btn_class}}">Скачать каталог</a>
        {% endif %}
    </div>
    
  {% endblock %}
</article>