{#
/**
 * @file
 * Template for a Node.
 */
#}
{#
/**
 * @file
 * Template for a Node component.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    {{ content.field_image }}

    {% if content.body %}
        <div class="body-slide position-absolute">{{ content.body }}</div>
    {% endif %}



    {% if content.field_file %}
        <a href="{{content.field_file.0['#url']}}" class="btn btn-primary">Скачать каталог</a>
    {% endif %}

  {% endblock %}
</article>