{#
/**
 * @file
 * Template for a Node.
 */
#}
{#
/**
 * @file
 * Template for a Node component.
 */
#}
{%

  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  content.field_class['#items'].getString(),
]

%}

<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}

    {{ content.field_image }}

    {% if content.field_slide_logo %}
      {{ content.field_slide_logo }}
    {% endif %}

{#{ devel_dump(content.field_class_button.0['#context'].value) }#}

    <div class="body-slide position-absolute">
        {% if content.body %}
            {{ content.body }}
        {% endif %}
        {% if content.field_file[0]['#file'].uri.value %}
            {% set cat_url = file_url(content.field_file[0]['#file'].uri.value) %}
            {% if content.field_class_button.0 %}
              {% set btn_class = content.field_class_button.0['#context'].value %}
            {% else %}
              {% set btn_class = 'btn-primary' %}
            {% endif %}
            <a href="{{cat_url}}" target="_blank" class="btn {{btn_class}}">Скачать каталог</a>
        {% endif %}

        {% if content.field_link.0['#url'] %}           
            <a class="btn {{btn_class}}" href="{{content.field_link.0['#url']}}" target="" {{content.field_link.0['#title']}}
        {% endif %}



    </div>
    
  {% endblock %}
</article>