{#
/**
 * @file
 * Template for a Node component.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    <div class="container">

        {% if content.body %}
            <div class="products-page-body">
                {{ content.body }}
            </div>
        {% endif %} 

        {% if content.field_file %}
            <div class="list-file-links">
                {{ content.field_file }}
            </div>
        {% endif %}
        
    </div>
  {% endblock %}
</article>