{#
/**
 * @file
 * Template for a Node component.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    <div class="container">
        <div class="d-flex">
            <div class="col-8 p-0">
                {{ content.body }}
            </div>
            <div class="col-4">
                <a data-target="#imgModal" data-toggle="modal" href="#">
                    {{ content.field_image_modal }}
                    <span class="references">Нажмите по картинке для увеличения</span>
                </a>    
            </div>
        </div>
        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="imgModalLabel" class="modal fade" id="imgModal" tabindex="-1">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="imgModalLabel"></h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span></button></div>
                        <div class="modal-body">
                            {{ content.field_image_modal }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 p-0">
            {{content.field_file}}
        </div>    
    </div>
    

  {% endblock %}
</article>